.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
 .header_logo{
    height: 35px;
    object-fit: contain;
    margin-left: 5px;
    
 }
 .header_input{
    display:flex;
    align-items: center;
    width: 40%;
    border: 1px solid black;
 }
 .header_inputButton{
    width: 50px !important;
    background-color: #e6e4e4;
    border-left: 1px sloid rgb(143, 142, 142);
    color: rgb(106, 106, 106) ;
 }
 .header_icon{ 
    display:flex;
    align-items: center;
 }
 .header_input > input{
    flex:1;
    border: none; 
 }